/* Paramètres généraux */
@font-face {
  font-family: "font-reg";
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "font-bold";
  src: url(../fonts/PlayfairDisplay-ExtraBold.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
}
*::selection {
  background: rgb(223, 223, 223);
  color: #161616;
}
html {
  scroll-behavior: smooth;
}

html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body {
  font-family: "font-reg", sans-serif;
  background: #161616;
  color: rgb(223, 223, 223);
  transition: 0.7s ease-in-out;
}
.wrapper {
  perspective: 900px;
}
.appear {
  opacity: 0;
  transform: translateY(100%) rotateX(-80deg);
  transform-origin: top center;
  transform-style: preserve-3d;
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.appear.is-inview {
  transition-delay: 1s;
  opacity: 1;
  transform: none;
}
h2 {
  font-size: 54px;
  text-align: center;
  color: rgb(223, 223, 223);
  font-family: "font-bold", sans-serif;
  letter-spacing: 3px;
}
.title {
  font-size: 34px;
  letter-spacing: 0;
}
span {
  display: inline-block;
}
a,
a:visited {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: rgb(223, 223, 223);
  transition: 0.1s linear;
  font-size: 10px;
  font-family: "roboto";
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  background: rgb(223, 223, 223);
  height: 1px;
  bottom: -4px;
  left: 0;
  transform-origin: center;
}
a:hover {
  transform: scale(1.1);
  color: rgb(151, 151, 151);
}
a:hover::after {
  animation: animLink 1.4s infinite ease-in-out;
}
@keyframes animLink {
  50% {
    transform: scaleX(0.8);
  }
  100% {
    transform: scaleX(1);
  }
}
.img {
  height: 395px;
  width: 100vw;
  max-width: 395px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 1.6s;
}
.img:hover {
  filter: grayscale(10%);
}
.line {
  height: 0.2px;
  width: 70%;
  margin: 0 auto;
  background: rgb(223, 223, 223);
  transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
  transition-delay: 0.45s;
  opacity: 0;
  transform: scaleX(0);
}
.line-wrapper.is-inview .line {
  opacity: 1;
  transform: scaleX(1);
}

/* Paramètres par ordre d'apparition */
header {
  height: 100vh;
  position: relative;
  margin: 2vw 2vw 0;
}
.links {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
#h1-wrapper {
  transition-delay: 0.3s;
}
h1 {
  font-size: 60px;
  margin-top: 70px;
  margin-left: 8px;
  font-family: "font-bold", sans-serif;
  letter-spacing: 1px;
  color: rgb(223, 223, 223);
}
header h2 {
  font-size: 40px;
  text-align: left;
  letter-spacing: 0px;
  margin-left: 32px;
}
#h2-1 {
  transition-delay: 0.9s;
  margin-top: 20px;
}
#h2-2 {
  transition-delay: 1.2s;
  margin-top: -15px;
}
.scroll-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3.5vw;
  color: rgb(223, 223, 223);
  font-size: 14px;
  font-family: "roboto";
}
.about {
  margin: 150px 0 250px;
}

.h2-wrapper {
  margin: 10px 0 60px;
}
.about p {
  width: 70%;
  min-width: 280px;
  text-align: justify;
  margin: 0 auto;
  line-height: 36px;
  font-size: 20px;
  letter-spacing: 1px;
}
.skills {
  margin: 200px 0 250px;
}
.skills h2 {
  margin-bottom: 100px;
}
.skills .wrapper {
  margin: 30px 0;
}
.skills .appear {
  text-align: center;
  transition-delay: 0.6s;
}
.skills p {
  font-size: 50px;
  font-family: "font-bold", sans-serif;
  letter-spacing: 4px;
  background: #000101;
  color: rgb(223, 223, 223);
  display: inline-block;
  padding: 12px 12px;
  border-radius: 10px;
}
.portfolio {
  margin: 200px 0;
}
.projects-container {
  margin-top: 100px;
}
.project {
  position: relative;
  width: 60vw;
  max-width: 600px;
  margin: 50px 5vw;
}

#p2 {
  margin: 0 6vw 0 auto;
}
#p3 {
  margin-left: 8vw;
}
.project img {
  transition: 0.4s ease-out;
  width: 100%;
}
.project:hover img {
  filter: brightness(20%);
}
.project:hover .project-infos {
  opacity: 1;
  transform: translate(0, -50%);
}
.project-infos {
  position: absolute;
  top: 50%;
  transform: translate(-50px, -50%);
  margin-left: 8vw;
  transition: 0.4s ease-out;
  opacity: 0;
}
.project-infos a {
  font-size: 30px;
}
.project-infos p {
  font-size: 2rem;
  margin-top: 1.5vw;
  color: rgb(223, 223, 223);
}
